.clear-btn:hover{
    transform: scale(1.05);
    background-color: lightgreen;
    color: black;
}
.btn-call:hover{
    background-color: rgba(145, 239, 145, 0.859);
}
.btn-copy:hover{
    background-color: rgba(11, 11, 11, 0.652);
}
.history{
    display: flex;
    justify-content: space-between;
    width: 22vw;
    margin: 0 auto;
    background-color: rgba(211, 211, 211, 0.389);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
    .history{
        width: 80vw;
    }
    
}

